<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Ajouter un tableau</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    </head>
    <body>
        <h1>Ajouter un tableau</h1>
        <!--/* Au revient au contrôleur, avec la méthode POST */-->
        <!--/* th:object définit quel est l'objet édité par ce formulaire */-->
        <form th:object="${tableau}" method="POST" th:action="@{save}">
                <div class="column">
                        <label for="titre">Titre:</label>
                        <!--/* th:field définit quel champ de l'objet est édité par cette zone de saisie */-->
                        <input type="text" th:field="*{titre}" placeholder="Titre du tableau"/>
                </div>
                <div class="column">
                        <label for="support">Support:</label>
                        <input type="text" th:field="*{support}" placeholder="Support du tableau"/>				
                </div>
                <div class="column">
                        <label for="dimension">Dimension:</label>
                        <input type="text" th:field="*{dimension}" placeholder="Dimension du tableau"/>				
                </div>
                <div class="column">
			<label for="auteur">Choisissez un auteur:</label>
                        <select th:field="*{auteur}">
                            <option th:each="v : ${valeurs}" th:value="${v}" th:text="${v}"></option>		
			</select>
                </div>
                <input type="submit" value="Enregistrer" /> <input type="reset" value="Réinitialiser" />
        </form>	
        <hr/>
        <a th:href="@{/}" href="../static/index.html">Retour au menu</a>
        <hr/>
    </body>
</html>
